header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}
.header{
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 16px 0 16.5px;
}
.logo{
    margin-right: 6.5px;
}
.logo,.logo-text{
    vertical-align: middle;
}
.nav-a{
    color: #37393F;
    font-size: 18px;
    font-family: 'Work Sans Regular';
}
.orange a{
    color: #F9995D;
    font-family: 'Work Sans SemiBold';
}
.nav-ul{
    display: flex;
    gap: 50px;  
    vertical-align: middle;
}
.image-wrapper{
    background-image: url("../imgs/photo1.jpg");
    height: 646px;
    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
}
.section-title{
    width: 556px;
    font-size: 72px;
    margin-left: 112px;
    display: flex;
    align-items: center;
    font-family: 'Work Sans SemiBold';
    line-height: 1;

}
.blue-box{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 416px;
    
    background-color: #3559C7;
}
.blue-box-title{
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Work Sans Bold';
}
.blue-box-paragraph{
    padding: 0px 0 26px;
    text-align: center;
    font-size: 24px;
    width: 312px;
    margin: 0 auto;
    color: white;
    font-family: 'Work Sans Regular';

}
.button{
    width: 208.00000000000045px;
    height: 39.999984741211186px;
    background-color: #292E3D;
    color:white;
    font-family: 'Work Sans Regular';
    font-size: 18px;
}
.leftright{
    display: flex;
}
.left-icon{
    margin-right: 2px;
}
.right-icon{
    margin-left: 2px;
}
.reputation{
    margin: 60px 0 50px;
    text-align: center;
    font-size: 36px;
    font-family: 'Work Sans Bold';
    color: #292E3D;
}
.reputation-title{
    font-size: 20px ;
    color: #3D445C;
    font-family: 'Work Sans Bold';
    margin: 0 0 18px 20px;
}
.reputation-paragraph{
    font-size: 16px;
    color: #858EAD;
    font-family: 'Work Sans Regular';
    margin: 0 18px 0 20px;
    width: 254px;
}
.bestflex{
    display: flex;
    justify-content: center;
    gap: 66px;
}
.best{
    width: 292px;
    height: 197px;
    border: 1.4px solid  #E0E3EB;
    align-items: center;
    margin-bottom: 84px;

}
.headset{
    font-size: 36.666664123535156px;
    padding: 21.67px 0px 19.67px 21.67px;
}
.pencil{
    font-size: 32.63333511352539px;
    padding: 21.67px 0px 19.67px 21.67px;
}
.section3-photo{
    position: relative;
    margin: 0 auto;
}
.box{
    position: absolute;
    background-color: #2947A9;
    width: 488px;
    top: 110px;
    left: 840px;
    color: white;
}
.manphoto{
    width: 902px;
    height: 669px;
    margin:0 0 202px 114px;
    
}
.section3-title{
    font-size: 36px;
    padding: 50px 0 37px 40px;
    font-family: 'Work Sans Bold';
}
.section3-firstparagraph{
    width: 388px;
    text-align: left;
    font-size: 20px;
    margin: 0 60px 20px 40px;
    line-height: 1;
    font-family: 'Work Sans Regular';
}
.section3-secondparagraph{
    width: 388px;
    text-align: left;
    font-size: 20px;
    margin: 0 60px 74px 40px;
    line-height: 1;
    font-family: 'Work Sans Regular';
}
.more-button{
    padding: 16px 20px;
    color: #2947A9;
    background-color: white;
    border: none;
    border-radius: 6px;
    margin: 0 229px 60px 40px ;
    font-size: 18px;
    font-family: 'Work Sans SemiBold';
}
.section4{
    background-color: #F6F8F7;
}
.icons{
    display: block;
    margin-bottom: 20px;
}
.line{
    margin-bottom: 20px;
}
.minibox{
    width: 271px;
    border-radius: 4px;
    height: 181px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section4-title{
    text-align: center;
    padding: 44px 0 36px;
    font-size: 36px;
    font-family: 'Work Sans Bold';
    color: #292E3D;
}
.bigdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 98px;
    margin: 0 auto;
    width: 1050px;
    padding-bottom: 76px;
}
.blue{
    background-color: #2947A9;
}
.bluecolor{
    color: #2947A9;
}
.whitecolor{
    color: white;
}
.icons-desc{
    font-size: 20px;
    font-family: 'Work Sans SemiBold';
}
.section5{
    display: flex;
}
.projects{
    width: 361px;
    margin: 221px 371px 105px 212px;
}
.buisness{
    width: 333px;
    margin: 0 0 87px 216px;
}
.projects, .buisness{
    box-shadow: 
        0px 4px 6px -2px rgba(17, 24, 39, 0.05),
        0px 12px 16px -4px rgba(17, 24, 39, 0.10);
}
.numbers{
    padding: 30px 0 2px 30px;
    font-size: 72px;
    font-family: 'Work Sans SemiBold';
}
.years{
    padding: 0 0 30px 46px;
    color: #667299;
    font-size: 24px;
    font-family: 'Work Sans Regular';

}
.section5-title{
    margin: 172px  137px 40px 0;
    font-size: 60px;
    width: 359px;
    color: #2947A9;
    font-family: 'Work Sans Bold';
}
.section5-paragraph{
    color:#525B7A;
    font-size: 20px;
    width: 330px;
    margin-bottom: 67px;
    font-family: 'Work Sans Regular';
}
.contact-button{
    padding: 16px 39px;
    background-color: #2947A9;
    color: white;
    border: none;
    font-size: 18px;
    font-family: 'Work Sans SemiBold';
}
.background{
        width: 100%;
        margin-bottom: 88px;
}
.bigbox-wrapper{
    position: relative;
}
.absolute-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 112px;
    color: white;
}
.section6-title{
    padding: 100px 0 30px 112px;
    font-size: 36px;
    font-family: 'Work Sans Bold';
    line-height: 1;
}
.section6-paragraph{
    padding: 0 0 100px 112px;
    font-size: 24px;
    font-family: 'Work Sans Regular';
}
.underline{
    text-decoration: underline;
}
.consultation-button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Work Sans SemiBold';
}
.section7-title{
    margin: 0 0 40px 112px;
    font-size: 36px;
    color: #292E3D;
    font-family: 'Work Sans Bold';
}
.last-navigation{
    margin: 0 0 0 112px;
}
.section7{
    display: flex;
}

.middle{
    vertical-align: middle;
}
.last-ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.last-a{
    color: #C2C7D6;
    margin-left: 20px;
    font-size: 24px;
    font-family: 'Work Sans Medium';
}
.left2{
    color: #2947A9;
    margin-left: 16px;
    font-size: 24px;
    font-family: 'Work Sans Bold';
}
.bluebox2{
    width: 384px;
    height: 84px;
    background-color: #2947A9;
}
.building-photo{
    display: block;
    width: 384px;
}
.lastbigbox{
    width: 800px;
    margin-left: 254px;
    display: flex;
    gap: 32px;
    flex-wrap:wrap ;
}
.lastminibox{
    width: 384px;
}
.blue-boxtitle2{
    padding: 12px 0 12px 12px;
    color: white;
    font-size: 20px;
    font-family: 'Work Sans Bold';
}
.blue-boxparagraph2{
    padding: 0 0 16px 12px;
    color: white;
    font-size: 18px;
    font-family: 'Work Sans Regular';
}
.last-button{
    margin-bottom: 68px;
    padding: 21.5px 108px;
    background-color: #292E3D;
    color: white;
    border: none;
    font-size: 18px;
    font-family: 'Work Sans Regular';
}
.lastbuttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}
.lastbluebox{
    height: 70px;
    background-color:#2947A9;
}
.lastblueboxp{
    padding: 26px 0 25px 112px ;
    color: white;
    font-size: 16px;
    font-family: 'Work Sans Regular';
}



